.advantages {
  padding-top: 151px;
  padding-bottom: 150px;
  &__container {
    display: flex;
    justify-content: space-between;
    @include for-laptop {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__title {
    margin-bottom: 61px;
    @include for-laptop {
      text-align: center;
    }
  }
  &__left-content {
    @include big-laptop {
      padding-right: 15px;
    }
    @include for-laptop {
      padding-right: 0;
    }
  }
}
.advantages-tabs-body {
  margin-bottom: 99px;
  @include big-laptop {
    margin-bottom: 60px;
  }
}

.advantages-items {
  display: grid;
  // grid-template-columns: repeat(2, 235px);
  grid-template-columns: repeat(auto-fill, minmax(205px, auto));
  grid-column-gap: 39px;
  grid-row-gap: 18px;
  max-width: 509px;
  @include for-laptop {
    margin-bottom: 50px;
  }
  @include mobile {
    max-width: 390px;
  }
}

.advantages-item {
  &__title {
    margin-bottom: 7px;
  }
  &__descr {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 19px;
  }
}
.advantages-right-content {
  &__subtitle {
    transform: translateY(-2px);
    max-width: 600px;
    margin-bottom: 20px;
    @include big-laptop {
      margin-bottom: 32px;
    }
    @include mobile-big-landscape {
      max-width: 730px;
      text-align: center;
    }
  }
}
