.packages {
  margin-bottom: 105px;

  &__content {
    display: grid;
    gap: 15px;
    row-gap: 35px;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;

    @include wide-screen {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-big-landscape {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}