<section class="additional-packages">
  <div class="container additional-packages__container">
    <h2 class="section-title">
      Услуги отдельно
    </h2>
    <div class="services">
      <div class="services-item">
        <div class="card__header">
          <h3 class="services-item__title">
            Ежедневная 30-минутная Skype-сессия
          </h3>
          <div class="timer">
            <span class="timer__title">До конца акции:</span>
            <div class="timer__count--basic"></div>
          </div>
        </div>
        <div class="package__price card-price">
          <span class="price__value card-price__value">
            899 Р
          </span>
          <span class="price__descr card-price__descr">
            в месяц
          </span>
        </div>
        <button class="button">
          Заказать
        </button>
      </div>

      <div class="services-item">
        <div class="card__header">
          <h3 class="services-item__title">
            Продвинутый торговый терминал UdeskPro
          </h3>
          <div class="timer">
            <span class="timer__title">До конца акции:</span>
            <div class="timer__count--basic"></div>
          </div>
        </div>
        <div class="package__price card-price">
          <span class="price__value card-price__value">
            399 Р
          </span>
          <span class="price__descr card-price__descr">
            в месяц
          </span>
        </div>
        <button class="button">
          Заказать
        </button>
      </div>

      <div class="services-item">
        <div class="card__header">
          <h3 class="services-item__title">
            Важные новости до выхода на портале news.pro
          </h3>
          <div class="timer">
            <span class="timer__title">До конца акции:</span>
            <div class="timer__count--basic"></div>
          </div>
        </div>
        <div class="package__price card-price">
          <span class="price__value card-price__value">
            249 Р
          </span>
          <span class="price__descr card-price__descr">
            в месяц
          </span>
        </div>
        <button class="button">
          Заказать
        </button>
      </div>

      <div class="services-item">
        <div class="card__header">
          <h3 class="services-item__title">
            Еженедельная групповая Skype-сессия
          </h3>
          <div class="timer">
            <span class="timer__title">До конца акции:</span>
            <div class="timer__count--basic"></div>
          </div>
        </div>
        <div class="package__price card-price">
          <span class="price__value card-price__value">
            659 Р
          </span>
          <span class="price__descr card-price__descr">
            в месяц
          </span>
        </div>
        <button class="button">
          Заказать
        </button>
      </div>

      <div class="services-item">
        <div class="card__header">
          <h3 class="services-item__title">
            Ежедневная 30-минутная Skype-сессия
          </h3>
          <div class="timer">
            <span class="timer__title">До конца акции:</span>
            <div class="timer__count--basic"></div>
          </div>
        </div>
        <div class="package__price card-price">
          <span class="price__value card-price__value">
            999 Р
          </span>
          <span class="price__descr card-price__descr">
            в месяц
          </span>
        </div>
        <button class="button">
          Заказать
        </button>
      </div>

    </div>
  </div>
</section>