<section class="faq">
  <div class="container">
    <h2 class="section-title" data-aos="fade-up" data-aos-duration="800">
      ЧаВо
    </h2>
    <div class="faq__accordion">
      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Могу ли я использовать разные платформы для входа в InvestPro?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Да. Доступ ко всем преимуществам InvestingPro можно получить с помощью мобильного приложения для iOS и
          Android,
          мобильной и полной версии веб-сайта.
        </p>
      </div>

      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Что делать при появлении проблем с подпиской?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Свяжитесь с нами через виджет нашего веб-сайта или обратитесь в центр поддержки Investing.com в любое время.
        </p>
      </div>

      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Могу ли я отменить подиску?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Если InvestingPro вам не подходит, можно отменить подписку в любое время в диалоговом окне «Кратко о плане» в
          профиле
          пользователя.
        </p>
      </div>

      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Какие способы оплаты принимаются?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Сейчас принимаются любые кредитные или дебетовые карты платежных систем MasterCard и Visa, а также оплата
          через PayPal.
          Все платежи PayPal и оплату кредитными картами безопасно проводит компания Braintree с помощью системы
          Recurly.
        </p>
      </div>

      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Акции каких компаний представлены?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Мы предлагаем акции тысяч иностранных компаний на сумму более $100 миллиардов. Вы получите мгновенный доступ
          более чем к
          135 000 международных компаний, ETF (биржевым индексным фондам) и не только.
        </p>
      </div>

      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Кто предоставляет данные?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Мы работаем с разными поставщиками данных, среди них компании Refinitiv, Morningstar, FactSet, медиахолдинг
          S&P Global и
          другие.
        </p>
      </div>

      <div class="accordion" data-aos="fade-up" data-aos-duration="800">
        <button class="accordion__btn">
          Почему у вас такая низкая цена по сравнению с другими?
        </button>
        <span class="accordion__icon">+</span>
      </div>
      <div class="panel">
        <p>
          Каждый имеет право пользоваться заслуживающей доверия информацией, основанной на качественных данных.
          InvestingPro
          предлагает именно это по доступной цене. У других компаний могут быть дополнительные дорогостоящие услуги. На
          наш
          взгляд, они не облегчают проведение фундаментального анализа, а отвлекают лишними деталями. Это затрудняет
          принятие
          инвестиционных решений для обеспечения вашего финансового благополучия в будущем. InvestingPro предлагает
          пользователям
          ясные, качественные, исчерпывающие данные в удобном формате. С нашей поддержкой вы сможете обыграть рынок и
          стать
          инвестором, которым всегда мечтали быть.
        </p>
      </div>

    </div>
  </div>
</section>