// base
$font-family: "Notosans", sans-serif;
// $font-family-second: ;
$content-width: 1200px;
$container-offset: 15px;
$container-width: $content-width + ($container-offset * 2);

// background colors
$primary-bcg-color: #FFFFFF;

// title colors
$h1-hero-color: #FFFFFF;
$span-hero-color: #FFFFFF;
$h2-hero-color: #868585;
$h3-hero-color: #303030;
$h2-title-color: #868585;
$h3-title-color: #303030;
$text-title-color: #303030;
$footer-title-color: #fff;

// titles sizes
$hero-title-size: 6.4rem;
$hero-descr-size: 4.2rem;
$h2-title-size: 2.4rem;
$h3-title-size: 1.8rem;
$text-title-size: 1.8rem;

// paragraph colors
$paragraph-color: #303030;

// tabs title colors
$tabs-title-colors: #303030;
$tabs-body-colors: #303030;

// quote color
$quote-text-color: #FFFFFF;

// work stages numbers color
$work-stage-number: #868585;

// footer-text-color
$footer-text-color: #FFFFFF;

// button colors
$button-text-color: #FFFFFF;
$button-text-secondary-color: #303030;
$button-bg-hover-color: #A9A32A;
$button-border-color: #fff;

// blockquote------------------------

$quote-text-color: #fff;
$quote-font-size: 4.2rem;

// button text size
$btn-text-size: 1.8rem;

// arrow button color
$arrow-hover-color: #A9A32A;

// modal----------------------------------

// modal background color
$modal-bg-color: #fff;

// modal title size
$modal-title-size: 3.6rem;

// modal title color
$modal-title-color: #fff;

// modal title bg color
$modal-title-bg-color: #455ea0;

// modal button text size
$modal-btn-text-size: 2.2rem;

// Tabs-------------------------------------

$tabs-title-color: #303030;
$tabs-title-size: 1.8rem;

// breakpoints-------------------------------

$big-laptop: 1230px;
$laptop: 990px;
$mobile-big-landscape: 850px;
$mobile-landscape: 580px;
$mobile: 510px;
$small-mobile: 400px;
$old-mobile: 385px;


