// base
$font-family: "Notosans", sans-serif;
<<<<<<< HEAD
$content-width: 1325px;
=======
$content-width: 1200px;
>>>>>>> 9c4d66163b3035415fd89310b094943673a80155
$container-offset: 15px;
$container-width: $content-width + ($container-offset * 2);

// background colors

<<<<<<< HEAD
//title
$section-title-size: 4.3rem;
=======
// title colors

// titles sizes
>>>>>>> 9c4d66163b3035415fd89310b094943673a80155

// breakpoints-------------------------------
$wide-screen: 1327px;
$big-laptop: 1230px;
$laptop: 990px;
$mobile-big-landscape: 690px;
$mobile-landscape: 580px;
$mobile: 510px;
$small-mobile: 400px;
$old-mobile: 385px;